# eclipse
.classpath
.project
.settings
.checkstyle

# sts
.springBeans

# Maven
target/
dist/
release.properties
*.versionsBackup
*.releaseBackup
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Idea
*.iml
.idea/

# npm
node_modules/
npm-debug.log

# bower
bower_components/

# no js
src/**/*.js
src/**/*.js.map
*.css
*.css.map
.tmp
.tscache
!external/*.js
!external/*.css
!Gruntfile.js

# JRebel
rebel.xml

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.factorypath
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

